@{
    ViewData["Title"] = "Home Page";
}

<img src="~/images/homebg.jpg" alt="Hogwards background" />
<div class="jumbotron">
    <h1>Hogwards University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Hogwards University</h2>
        <p>
            Hogwards University is a fictional British school of
            magic for students aged eleven to eighteen, and is the primary setting for the first six books in
            J.K. Rowling's Harry Potter series.
        </p>
    </div>
</div>